* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

body {
  background-color: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #333333;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}